.slide {
    width: 100%;
    background: none;
}

.current-slide {
    display: block;
}

@media screen {
    .slide {
        top: 0;
        height: 100%;
        display: none;
    }

    .current-slide {
        display: block;
    }
}

@media print {
    .slide {
        page-break-after: always;
    }
}
