.slide {
    background: none;
    top: 0;
    height: 100%;
    display: none;
}

.current-slide {
    display: block;
}

.controls {
    opacity: 0;
}

.controls:hover {
    opacity: .3;
}

.controls .control-button {
    position: absolute;
    top: 0;
    height: 100%;
    display: block;
    background: #ccc;
    text-decoration: none;
    font-size: 500%;
    font-weight: 900;
    text-align: center;
    padding: 0 .5em 0 .5em;
}

.controls .control-button span {
    height: 10%;
    top: 45%;
    position: relative;
    display: block;
}

#control-next {
    right: 0;
}

#control-prev {
    left: 0;
}
