body,
h1, h2, h3, h4, h5, h6,
footer p {
    padding: 0;
    margin: 0;
    background: none;
}

.slides > header,
.slides > footer,
.slides > section,
.slides > section > header,
.slides > section > footer {
    position: absolute;
    width: 900px;
    height: 700px;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -450px;
    overflow: hidden;
    background: #fff;
}

p, ul, pre {
    margin-left: 10px;
    margin-right: 10px;
}

/* talk */
.slides > header {
    z-index: 100;
    height: 20px;
}

.slides > header * {
    z-index: 100;
    height: 50px;
}

.slides > footer {
    z-index: 101;
    height: 85px;
    margin-top: 265px;
    text-align: right;
    background: none;
}

/* slide */
.slides > section {
}

.slides > section > header + * {
    margin-top: 130px;
}

.slides > section > header {
    margin-top: -300px;
    height: 70px;
}

.slides > section > footer {
    z-index: 102;
    height: 70px;
    margin-top: 195px;
    background: none;
    height: 85px;
    margin-top: 265px;
}

.slides-invisible {
    display: none;
}

/* utility classes */
.center {
    text-align: center;
}

.middle {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.flash {
    text-align: center;
    padding: 5px 0 5px 0;
    margin: 0;
    z-index: 1000;
    display: block;
    background: #ccc;
    opacity: .8;
    font-size: .9em;
}
