body,
h1, h2, h3, h4, h5, h6,
footer p {
    padding: 0;
    margin: 0;
}

.slides > header,
.slides > footer,
.slides > section,
.slides > section > header,
.slides > section > footer {
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
}

p, ul {
    margin-left: 10px;
    margin-right: 10px;
}

/* talk */
.slides > header {
    z-index: 100;
    height: 20px;
}

.slides > header * {
    font-size: 10px;
}

.slides > footer {
    z-index: 101;
    top: 380px;
    height: 20px;
}

/* slide */
.slides > section {
    height: 320px;
    padding-top: 80px;
    background: #ccc;
}

.slides > section > header {
    top: 20px;
    height: 40px;
}

.slides > section > footer {
    bottom: 20px;
    height: 20px;
}

.slides-invisible {
    display: none;
}
