body,
h1, h2, h3, h4, h5, h6,
footer p {
    padding: 0;
    margin: 0;
}

article.talk > header,
article.talk > footer,
article.talk > section,
article.talk > section > header,
article.talk > section > footer {
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
}

p, ul {
    margin-left: 10px;
    margin-right: 10px;
}

/* talk */
article.talk > header {
    z-index: 100;
    height: 20px;
    background: yellow;
}

article.talk > header * {
    font-size: 10px;
}

article.talk > footer {
    z-index: 101;
    top: 380px;
    height: 20px;
    background: green;
}

/* slide */
article.talk > section {
    height: 320px;
    background: red;
    padding-top: 80px;
}

article.talk > section > header {
    top: 20px;
    height: 40px;
    background: blue;
}

article.talk > section > footer {
    bottom: 20px;
    height: 20px;
    background: green;
}
